sales agent telegram.json
{
  "name": "sales agent telegram",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -500,
        40
      ],
      "id": "56f3fbb2-b497-4bd5-ae01-984827d14cff",
      "name": "Telegram Trigger",
      "webhookId": "d4da10ab-3611-40a2-af75-fbb517a1a243",
      "credentials": {
        "telegramApi": {
          "id": "t5Eus4cK8g9SdKae",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').item.json.message.text }}",
        "options": {
          "systemMessage": "=# ROLE\nYou are a friendly AI assistant.\nYou are currently talking to a user over telegram.\n\n# RULES\nWhen the user sends a new message, decide if they shared any **noteworthy information** that should be **saved in memory** for future reference.\nIf so, use the **Save Memory** tool to store this information.\nDO NOT inform the user that you are saving this information.\nSimply continue the conversation as normal.\n\n# Knowledge Base\nYou have access to a knowledge base about \"Gym Architech - Agency Knowledge Base,\" last updated on July 19, 2025. This knowledge base contains detailed information about the company profile, contact and location, core services, and detailed services with pricing (Website Development, Digital Marketing & Lead Generation, Automation & Operations), as well as frequently asked questions. Use this information to answer user queries accurately and comprehensively.\n\n# Tools\n## Save Memory\nUse this tool to **store any important facts** shared by the user.\nSummarize the information clearly and pass it to this tool.\n\n# Memories\nThese are the **last stored facts** collected from the user (including date/time).\n{{ $json.Conversation_memory.toJsonString() }}\n\n!! IMPORTANT !!\nTake these stored facts into account when replying.\nIf a fact was already stored, do not repeat asking for it.\nRespond naturally and conversationally."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        920,
        240
      ],
      "id": "f9edf190-a3d8-42fc-93f9-d54b32fbb04c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1540,
        240
      ],
      "id": "2913be05-2ec2-412a-88c8-25fec6dd4bc9",
      "name": "Send a text message",
      "webhookId": "ee22789a-2a1e-4b72-80c3-9121d37bc9ec",
      "credentials": {
        "telegramApi": {
          "id": "t5Eus4cK8g9SdKae",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "tableId": "Customer_history",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "message",
              "fieldValue": "={{ $('Telegram Trigger').item.json.message.text }}"
            },
            {
              "fieldId": "recipient",
              "fieldValue": "={{ $('Telegram Trigger').item.json.update_id }}"
            },
            {
              "fieldId": "sender",
              "fieldValue": "={{ $('Telegram Trigger').item.json.message.from.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        1060,
        460
      ],
      "id": "0447a68e-1456-49c9-9554-bf7ae2dfaa73",
      "name": "Save Memory",
      "credentials": {
        "supabaseApi": {
          "id": "00g5neorHwwOw7pG",
          "name": "SayianTech_hackgen"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Customer_history",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "sender",
              "condition": "eq",
              "keyValue": "={{ $json.sender }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        380,
        240
      ],
      "id": "58e0f676-b716-4fcf-be3b-6e4007f0cf19",
      "name": "Get User History",
      "alwaysOutputData": false,
      "credentials": {
        "supabaseApi": {
          "id": "00g5neorHwwOw7pG",
          "name": "SayianTech_hackgen"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        820,
        460
      ],
      "id": "610c392a-8896-4bc7-a171-96d923e13be2",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Ezn8q0QR4KW7OJL4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "Conversation_memory",
        "include": "specifiedFields",
        "fieldsToInclude": "message,created_at",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        600,
        240
      ],
      "id": "99b6d3d0-139e-4d06-b1d8-328b2b2b3d05",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "use this vector store answer FQs about the Gym Architech",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1180,
        462.5
      ],
      "id": "b2c5a57c-6844-4517-8424-f979e3d8833b",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "00g5neorHwwOw7pG",
          "name": "SayianTech_hackgen"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "allowFileUploads": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -500,
        800
      ],
      "id": "56663c8e-d062-4f18-811c-cd5711ec2a82",
      "name": "When chat message received",
      "webhookId": "b4d1be3f-59bf-4bdf-a26e-c477feeedde5",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -280,
        800
      ],
      "id": "66a57dbd-4313-4a60-9650-3cca24abf4a6",
      "name": "Supabase Vector Store1",
      "disabled": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        940,
        460
      ],
      "id": "0dd43fab-93b5-4bef-b1ee-c106f0f9629e",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "ZilYemy7Nvu3lN4A",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1260,
        660
      ],
      "id": "89db4931-5640-4b92-9ef3-2e7a73ce7ea7",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "Ezn8q0QR4KW7OJL4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -260,
        1020
      ],
      "id": "2b85b323-3b36-45ba-a037-71958b6d0324",
      "name": "Embeddings OpenAI1",
      "disabled": true
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -140,
        1020
      ],
      "id": "b87702d6-b2e0-41d3-8f7f-3d4776bce958",
      "name": "Default Data Loader",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const message = $json.message.text.toLowerCase(); // Corrected line: removed [0]\n\nconst appointmentKeywords = [\n  \"appointment\", \"book a slot\", \"schedule\", \"meeting\", \"visit\", \"time available\",\n  \"when can i come\", \"set up a time\", \"reserve\", \"slot\", \"book tour\", \"trial session\"\n];\n\nlet detectedIntent = \"fallback\"; // Default to fallback if no appointment keyword is found\nlet matchedKeyword = \"\";\n\nfor (const keyword of appointmentKeywords) {\n  if (message.includes(keyword)) {\n    detectedIntent = \"appointment_booking\";\n    matchedKeyword = keyword;\n    break; // Stop once a keyword is found\n  }\n}\n\nreturn [\n  {\n    json: {\n      ...$json, // Spreads the original message data directly, as $json is now the item object\n      intent: detectedIntent,\n      matched_keyword: matchedKeyword,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -280,
        40
      ],
      "id": "5797f77f-a85e-4b4d-90ec-e9ffdbec7e0e",
      "name": "Code"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "appointment_booking",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a897b6bd-a871-450c-875d-e39802bdcbb1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "appointment "
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "437d1865-7d03-4703-b3ec-80568ced4216",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "fallback",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -60,
        40
      ],
      "id": "a14e00b4-2339-4fb6-83be-4e7a1bda53cd",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "=We invite you to book a Free Consultation with Gym Architech to discuss your growth strategy. Let's design the blueprint for your success! \n\nClick here to find a time that works for you:\nhttps://calendar.app.google/hAtXUJPsFoHWWhcv9",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        160,
        -160
      ],
      "id": "c64a262c-9182-4ad1-a532-d836058df78b",
      "name": "Send a text message1",
      "webhookId": "8cba7f23-39ba-444a-b5df-887a89a4202c",
      "credentials": {
        "telegramApi": {
          "id": "t5Eus4cK8g9SdKae",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "asst_c2PrFKUfwxF4Ska7PDrIUJNu",
          "mode": "list",
          "cachedResultName": "Summarise chat"
        },
        "prompt": "define",
        "text": "=Summarize the below chat history to prepare for meeting:\n {{ $json.Conversation_memory.toJsonString() }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1000,
        -160
      ],
      "id": "24df4253-f03d-4fa7-8b45-ad21fd6f1098",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "Ezn8q0QR4KW7OJL4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "sayiantechai@gmail.com",
        "subject": "Summary about customer",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1540,
        -160
      ],
      "id": "505e52fe-13eb-4451-b9f9-a04a01f6cd2a",
      "name": "Send a message",
      "webhookId": "8b753e57-2020-4d0a-8829-cc65daad3198",
      "credentials": {
        "gmailOAuth2": {
          "id": "vUMAIP4nrewPhBni",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "n8n_chat_histories",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "session_id",
              "condition": "eq",
              "keyValue": "={{ $json.result.chat.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        380,
        -160
      ],
      "id": "60baaedf-87ea-4fde-8fb4-76b5cf1d5725",
      "name": "Get User History1",
      "credentials": {
        "supabaseApi": {
          "id": "00g5neorHwwOw7pG",
          "name": "SayianTech_hackgen"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "Conversation_memory",
        "include": "specifiedFields",
        "fieldsToInclude": "message,created_at",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        600,
        -160
      ],
      "id": "7cbc04c4-945f-4e77-a0bd-e8323990b001",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "tableId": "Customer_history",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "sender",
              "fieldValue": "={{ $json.message.from.id }}"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ $json.message.text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        160,
        240
      ],
      "id": "c7ce345a-b49d-4553-b021-17f93b9a36c2",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "00g5neorHwwOw7pG",
          "name": "SayianTech_hackgen"
        }
      }
    },
    {
      "parameters": {
        "tableId": "Customer_history",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "sender",
              "fieldValue": "={{ $json.message.from.id }}"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ $json.message.text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1760,
        240
      ],
      "id": "750f3847-a674-4365-8fda-292481a1065e",
      "name": "Create a row1",
      "credentials": {
        "supabaseApi": {
          "id": "00g5neorHwwOw7pG",
          "name": "SayianTech_hackgen"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Memory": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get User History": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Create a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        [
          {
            "node": "Get User History1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User History1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Get User History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2bb2bb39-e415-4c76-9920-be995a4e1b08",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d534cb9fee10d333b7caf107a63d06418030a45f1f86d43c493d04d9273ae4fe"
  },
  "id": "Z3bWNFmMQCrr9vSO",
  "tags": [
    {
      "createdAt": "2025-07-19T12:01:54.294Z",
      "updatedAt": "2025-07-19T12:01:54.294Z",
      "id": "tDd32EWzrujtD8t4",
      "name": "hackgenai"
    }
  ]
}