Sales agent whatsapp.json
{
  "name": "Sales agent whatsapp",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -2100,
        260
      ],
      "id": "8c171e71-c8bc-439f-9612-ceb64359b20e",
      "name": "Telegram Trigger",
      "webhookId": "d4da10ab-3611-40a2-af75-fbb517a1a243",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}",
        "options": {
          "systemMessage": "=# ROLE\nYou are a friendly AI assistant.\nYou are currently talking to a user over telegram.\n\n# RULES\nWhen the user sends a new message, decide if they shared any **noteworthy information** that should be **saved in memory** for future reference.\nIf so, use the **Save Memory** tool to store this information.\nDO NOT inform the user that you are saving this information.\nSimply continue the conversation as normal.\n\n# Knowledge Base\nYou have access to a knowledge base about \"Gym Architech - Agency Knowledge Base,\" last updated on July 19, 2025. This knowledge base contains detailed information about the company profile, contact and location, core services, and detailed services with pricing (Website Development, Digital Marketing & Lead Generation, Automation & Operations), as well as frequently asked questions. Use this information to answer user queries accurately and comprehensively.\n\n# Tools\n## Save Memory\nUse this tool to **store any important facts** shared by the user.\nSummarize the information clearly and pass it to this tool.\n\n# Memories\nThese are the **last stored facts** collected from the user (including date/time).\n{{ $json.Conversation_memory.toJsonString() }}\n\n!! IMPORTANT !!\nTake these stored facts into account when replying.\nIf a fact was already stored, do not repeat asking for it.\nRespond naturally and conversationally."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -1200,
        -400
      ],
      "id": "7d1d3075-2758-433a-aecd-623414c4cc72",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -220,
        -400
      ],
      "id": "244258bf-3c22-42c1-8d7c-57e76dd1274f",
      "name": "Send a text message",
      "webhookId": "ee22789a-2a1e-4b72-80c3-9121d37bc9ec",
      "credentials": {
        "telegramApi": {
          "id": "t5Eus4cK8g9SdKae",
          "name": "Telegram account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "tableId": "Customer_history",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "message",
              "fieldValue": "={{ $('Telegram Trigger').item.json.message.text }}"
            },
            {
              "fieldId": "recipient",
              "fieldValue": "={{ $('Telegram Trigger').item.json.update_id }}"
            },
            {
              "fieldId": "sender",
              "fieldValue": "={{ $('Telegram Trigger').item.json.message.from.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -1060,
        -180
      ],
      "id": "2bbbfad9-a8db-4871-aaf9-3a469b156e57",
      "name": "Save Memory",
      "credentials": {
        "supabaseApi": {
          "id": "00g5neorHwwOw7pG",
          "name": "SayianTech_hackgen"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Customer_history",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "sender",
              "condition": "eq",
              "keyValue": "={{ $json.sender }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1740,
        -400
      ],
      "id": "33a40920-244a-4888-9a42-4296449783a2",
      "name": "Get User History",
      "alwaysOutputData": false,
      "credentials": {
        "supabaseApi": {
          "id": "00g5neorHwwOw7pG",
          "name": "SayianTech_hackgen"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1300,
        -180
      ],
      "id": "2d51f550-c139-4c76-80b7-c8f29c8528a7",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Ezn8q0QR4KW7OJL4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "Conversation_memory",
        "include": "specifiedFields",
        "fieldsToInclude": "message,created_at",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1520,
        -400
      ],
      "id": "5ddd917b-c54f-486f-afd3-85ffe7a5de0d",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "use this vector store answer FQs about the Gym Architech",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -940,
        -177.5
      ],
      "id": "695523e7-b163-464e-b028-803c5bbbe3f9",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "00g5neorHwwOw7pG",
          "name": "SayianTech_hackgen"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "allowFileUploads": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -2840,
        160
      ],
      "id": "a805e90b-f1ad-4029-8d2b-8113d4a52f2f",
      "name": "When chat message received",
      "webhookId": "b4d1be3f-59bf-4bdf-a26e-c477feeedde5",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -2620,
        160
      ],
      "id": "9dcf6043-4dea-4976-b143-df29e65b7c1a",
      "name": "Supabase Vector Store1",
      "disabled": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -1180,
        -180
      ],
      "id": "ee9e5136-803a-4c69-8b54-7eda7cc210eb",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "ZilYemy7Nvu3lN4A",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -860,
        20
      ],
      "id": "c8f17297-bd16-4480-962d-e8027c936026",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "Ezn8q0QR4KW7OJL4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2600,
        380
      ],
      "id": "ee47e871-9a26-4c00-8094-2f3e4b0dd8cf",
      "name": "Embeddings OpenAI1",
      "disabled": true
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -2480,
        380
      ],
      "id": "bb6e2dc7-9631-4c1f-82aa-73ae11bba860",
      "name": "Default Data Loader",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Extract the message body from the correct structure\nconst message = $json.messages[0].text.body.toLowerCase();\n\nconst appointmentKeywords = [\n  \"appointment\", \"book a slot\", \"schedule\", \"meeting\", \"visit\", \"time available\",\n  \"when can i come\", \"set up a time\", \"reserve\", \"slot\", \"book tour\", \"trial session\"\n];\n\nlet detectedIntent = \"fallback\"; // Default to fallback\nlet matchedKeyword = \"\";\n\nfor (const keyword of appointmentKeywords) {\n  if (message.includes(keyword)) {\n    detectedIntent = \"appointment_booking\";\n    matchedKeyword = keyword;\n    break;\n  }\n}\n\nreturn [\n  {\n    json: {\n      ...$json,\n      intent: detectedIntent,\n      matched_keyword: matchedKeyword,\n      original_message: message // Optional: add for debugging or logging\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2400,
        -600
      ],
      "id": "997a920f-d5a9-4a06-afa7-1a4bd47f1be4",
      "name": "Code"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "appointment_booking",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a897b6bd-a871-450c-875d-e39802bdcbb1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "appointment "
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "437d1865-7d03-4703-b3ec-80568ced4216",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "fallback",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2180,
        -600
      ],
      "id": "078f6bf9-fc42-4b27-b7dd-a02283a94393",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "asst_c2PrFKUfwxF4Ska7PDrIUJNu",
          "mode": "list",
          "cachedResultName": "Summarise chat"
        },
        "prompt": "define",
        "text": "=Summarize the below chat history to prepare for meeting:\n {{ $json.Conversation_memory.toJsonString() }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -860,
        -800
      ],
      "id": "44b0ab27-cf00-417e-9e5e-3d01960d0178",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "Ezn8q0QR4KW7OJL4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "sayiantechai@gmail.com",
        "subject": "Summary about customer",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -220,
        -800
      ],
      "id": "d9aa3f14-bf4d-4a3c-96f3-4581d6524d86",
      "name": "Send a message",
      "webhookId": "8b753e57-2020-4d0a-8829-cc65daad3198",
      "credentials": {
        "gmailOAuth2": {
          "id": "vUMAIP4nrewPhBni",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "n8n_chat_histories",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "session_id",
              "condition": "eq",
              "keyValue": "={{ $json.contacts[0].wa_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1620,
        -800
      ],
      "id": "1cf52829-cdf7-4c06-9082-3c1296a7a265",
      "name": "Get User History1",
      "credentials": {
        "supabaseApi": {
          "id": "00g5neorHwwOw7pG",
          "name": "SayianTech_hackgen"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "Conversation_memory",
        "include": "specifiedFields",
        "fieldsToInclude": "message,created_at",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1360,
        -800
      ],
      "id": "5a3fc53d-0a3f-4ab8-8643-ddf70918028b",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "tableId": "Customer_history",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "sender",
              "fieldValue": "={{ $json.messages[0].from }}"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ $json.messages[0].text.body }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1960,
        -400
      ],
      "id": "302e7610-f6c8-48a3-87df-e5cac6910bb1",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "00g5neorHwwOw7pG",
          "name": "SayianTech_hackgen"
        }
      }
    },
    {
      "parameters": {
        "tableId": "Customer_history",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "sender",
              "fieldValue": "={{ $json.message.from.id }}"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ $json.message.text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        0,
        -400
      ],
      "id": "2f40d813-630b-47d4-a2d6-731955b297e1",
      "name": "Create a row1",
      "credentials": {
        "supabaseApi": {
          "id": "00g5neorHwwOw7pG",
          "name": "SayianTech_hackgen"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -2840,
        -580
      ],
      "id": "69861e21-ef47-41ac-83d9-c56e36c7d5bb",
      "name": "WhatsApp Trigger",
      "webhookId": "bc52b9f7-a6c2-4b73-9f92-7ca1e1e4de8c",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "kA1gQfkm2ADh04zT",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "660832227122102",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "=We invite you to book a Free Consultation with Gym Architech to discuss your growth strategy. Let's design the blueprint for your success! \n\nClick here to find a time that works for you:\nhttps://calendar.app.google/hAtXUJPsFoHWWhcv9",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -1960,
        -800
      ],
      "id": "b0e092c6-ba8b-4650-9c52-5999961cf994",
      "name": "Send message",
      "webhookId": "1794eb73-ae5d-4b7b-8863-f26c07894744",
      "credentials": {
        "whatsAppApi": {
          "id": "puj1Nzp2ioiFh2Me",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "660832227122102",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -510,
        -400
      ],
      "id": "930cd922-bc62-4ef8-b4fd-c2f7c2f5d57e",
      "name": "Send message1",
      "webhookId": "336bd194-3abb-46d1-b382-ae728f3af772",
      "credentials": {
        "whatsAppApi": {
          "id": "puj1Nzp2ioiFh2Me",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "64c4e99e-c13c-4ae4-8f6b-ed7c88e5c4c6",
              "leftValue": "={{ $json.messages[0].text.body }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2620,
        -580
      ],
      "id": "9e681591-d023-4296-b1df-f87e03645271",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        []
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Memory": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get User History": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Create a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User History1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Get User History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message": {
      "main": [
        [
          {
            "node": "Get User History1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "aee8e9fb-84c8-4a4b-89e6-9f1bef87f215",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d534cb9fee10d333b7caf107a63d06418030a45f1f86d43c493d04d9273ae4fe"
  },
  "id": "8eOoQjlGonY5XmiD",
  "tags": [
    {
      "createdAt": "2025-07-19T12:01:54.294Z",
      "updatedAt": "2025-07-19T12:01:54.294Z",
      "id": "tDd32EWzrujtD8t4",
      "name": "hackgenai"
    }
  ]
}